livelossplot==0.5.3
matplotlib==3.1.1
numpy==1.18.5
opencv-python==4.1.2.30
pandas==0.25.3
qiskit==0.21.0
qiskit-aer==0.6.1
qiskit-aqua==0.7.5
qiskit-ibmq-provider==0.9.0
qiskit-ignis==0.4.0
qiskit-terra==0.15.2
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.9.0
tqdm==4.41.1